.topbar {
  background-color: var(--bg-dark) !important; /* Ahora coge el nuevo color menos oscuro de app.css */
  color: var(--text-main) !important;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid var(--border-subtle) !important;
  box-shadow: none !important;
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  color: var(--text-muted) !important;
}

.app-title {
  color: var(--text-main);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-btn {
  background: transparent !important;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid var(--border-subtle);
}

.user-btn:hover {
  background: rgba(255, 255, 255, 0.05) !important;
}

.logo {
  font-weight: 600;
  color: var(--primary-accent);
  font-size: 14px;
}
